body {
    /* 기본 폰트는 보통 body 태그에 작성 */
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-family: 'Jua', sans-serif;
    background-color: rgba(211, 211, 211, 0.653);
}

div {
    color: royalblue;
    background: linear-gradient(to left bottom, yellow, pink);
    /* background: linear-gradient(45deg, yellow, pink); */
    

/* 폰트 */
/* (font-size) px 단위 */
    font-size: 50px;
    /* font-weight : 굵기 */
    /* lighter normal bold */
    /* font-weight: bold; */
    /* 100~900 */
    font-weight: 700;

    /* font-family : 글씨체 */
    /* serif sans-serif monospace cursive */
    /* font-family: cursive; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* ''는 글씨체에 띄어쓰기 들어간 경우 */
    /* 여러개 설정시 선언된 순서로 적용 */
    /* 영어, 한글 글꼴다르게 - 한글없는 폰트를 먼저 -> 한글폰트 */
    /* font-family: Georgia, 'Malgen Gothic'; */

    /* (웹폰트) */
    /* :모든 사용자가 동일한 폰트로 화면을 볼 수 있음 */
    /* Google font */

    /* font-style: 글자모양 설정 */
    /* italic: 필기체느낌 */
    /* obligue: 보통 모양의 기울임 */
    font-style: oblique;

    /* 크기 */
    width: 600px;
    /* height: 600px; */

    /* border: 테두리, 경계선 */
    /* style 지정해야 width, color 의미있음 */
    /* solid dotted dashed inset */
    /* width, height를 동일하게 하고 border-radius를 50%로 설정하면 원 만들수 있음 */
    /* border-style: solid;
    border-width: 10px;
    border-color: limegreen; */
    /* border 단축 프로퍼티 */
    /* border: width, style, color 순으로 선언하면 한번에 설정 가능 */
    /* border: 10px solid limegreen */
    
    /* border-radius: 5px 30px; */
    /* border-radius: 5px 30px 5px 30px; 이랑 같음*/
    /* border-radius: 5px 20px 45px 80px; */
    border-top: 10px solid rgb(48, 128, 181);
    border-bottom: 10px solid limegreen;
    border-right: 10px solid rgb(110, 64, 133);
    border-left: 10px solid rgb(154, 184, 37);

    /* 박스 모델 */
    /* content-> padding -> border -> margin */
    /* box-sizing: content-box */
    box-sizing: border-box;

    /* margin, padding */
    /* padding: content와 border 사이의 공간 */
    /* margin: border 바깥공간 */
    /* top right bottom left 순 */
    /* padding: 20px; */
    padding: 20px 50px;
    /* padding-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 20px; */
    /* margin: 50px; */
    /* margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 40px;
    margin-right: 20px; */
    margin: 20px 50px;

}

p {
    font-size: 50px;
    font-weight: 700;

    width: 400px;
    border: 1px solid black;

    /* box-shadow: xoffset, yoffset, blur, color */
    /*  */
    box-shadow: 3px 3px 4px 4px rgb(0, 0, 0, .4);

    /* text-shadow */
    text-shadow: 9px 2px 11px blue;
}